{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}

<!-- Stylesheet -->
<link rel="stylesheet" href="../static/css/index.css" %}" >
{% endblock stylesheet %}


{% block content %}
<div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron jumbotron-fluid text-white introduction font-thin">
                        <h1 class="display-4 font-effect-emboss">Ninic's gallery</h1>
                        <hr class="my-4">
                        <p>This site is a gallery of my creations, It goes from 2011 as a Photoshop rookie up through today. </p>
						<p>Feel free to use my art as you want, I would appreciate if you contact me to do so though. ~~</p>
                        <p class="lead">
                        <hr class="my-4">
						<button type="button" class="btn btn-lg btn-light text-black" data-toggle="modal" data-target="#search">Discover my gallery now ! <i class="fab fa-angellist"></i></button>
                        </p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
		

	
	
		<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  	<div class="modal-dialog modal-dialog-centered" role="document">
		    	<div class="modal-content text-dark">
	  				<div class="modal-body" id="">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
		        		</button>
						<h5><i class="fas fa-camera-retro"></i>  Choose the category :</h5>

						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1144.7 987.5">

							<a xlink:title="2018" href="2018">
								<g id="PART_2018"><polygon points="575.2 762.6 575.2 982.6 184.8 711.5 213.7 553.7 362.6 500.4 575.2 762.6"/><polygon points="575.2 982.6 184.8 711.5 213.7 553.7 362.6 500.4 575.2 762.6 575.2 982.6" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>

							<a xlink:title="2019" href="2019">
								<g id="PART_2019"><polygon points="878.1 760.4 575.2 982.6 575.2 762.6 362.6 500.4 507 344.8 653.7 433.7 769.2 704.8 878.1 760.4"/><polygon points="575.2 982.6 575.2 762.6 362.6 500.4 507 344.8 653.7 433.7 769.2 704.8 878.1 760.4 575.2 982.6" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>

							<a xlink:title="2016" href="2016">
								<g id="PART_2016"><polygon points="1027 71.5 1140.4 302.6 857.8 264.8 575.2 138.2 762.6 4.8 1027 71.5"/><polygon points="575.2 138.2 762.6 4.8 1027 71.5 1140.4 302.6 857.8 264.8 575.2 138.2" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>

							<a xlink:title="2017" href="2017">
								<g id="PART_2017"><polygon points="507 344.8 362.6 500.4 213.7 553.7 98.1 411.5 184.8 251.5 507 344.8"/><polygon points="213.7 553.7 98.1 411.5 184.8 251.5 507 344.8 362.6 500.4 213.7 553.7" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>

							<a xlink:title="2014_2015" href="2014_2015">
								<g id="PART_2014_2015"><polygon points="98.1 411.5 213.7 553.7 184.8 711.5 2.6 435.9 29.2 167.1 184.8 251.5 98.1 411.5"/><polygon points="184.8 711.5 2.6 435.9 29.2 167.1 184.8 251.5 98.1 411.5 213.7 553.7 184.8 711.5" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>

							<a xlink:title="2011" href="2011">
								<g id="PART_2011"><polygon points="362.6 4.8 380 178.2 270.4 276.3 184.8 251.5 29.2 167.1 140.4 40.4 362.6 4.8"/><polygon points="29.2 167.1 140.4 40.4 362.6 4.8 380 178.2 270.4 276.3 184.8 251.5 29.2 167.1" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>

							<a xlink:title="spare 01">
								<g id="spare_01"><polygon points="878.1 500.4 878.1 760.4 769.2 704.8 653.7 433.7 507 344.8 778.1 360.4 878.1 500.4"/><polygon points="878.1 760.4 878.1 500.4 778.1 360.4 507 344.8 653.7 433.7 769.2 704.8 878.1 760.4" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>

							<a xlink:title="spare 02">
								<g id="spare_02"><polygon points="575.2 138.2 554.7 276.3 507 344.8 270.4 276.3 380 178.2 362.6 4.8 575.2 138.2"/><polygon points="362.6 4.8 575.2 138.2 554.7 276.3 507 344.8 270.4 276.3 380 178.2 362.6 4.8" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>

							<a xlink:title="spare 03">
								<g id="spare_03"><polygon points="1045.3 289.9 834.5 439.3 778.1 360.4 507 344.8 554.7 276.3 575.2 138.2 857.8 264.8 1045.3 289.9"/><polygon points="575.2 138.2 554.7 276.3 507 344.8 778.1 360.4 834.5 439.3 1045.3 289.9 857.8 264.8 575.2 138.2" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>

							<a xlink:title="spare 04">
								<g id="spare_04"><polygon points="1140.4 302.6 1075.9 552.6 878.1 760.4 878.1 500.4 834.5 439.3 1045.3 289.9 1140.4 302.6"/><polygon points="1140.4 302.6 1075.9 552.6 878.1 760.4 878.1 500.4 834.5 439.3 1045.3 289.9 1140.4 302.6" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px"/></g>
							</a>
						</svg>
						
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg gradient text-white btn-block" onclick="window.location.href='all'"> All pictures </button>
                        </div>
					</div>
    			</div>
  			</div>
		</div>


{% endblock content %}