certifi==2019.3.9
crypto==1.4.1
Django==2.2.4
numpy==1.16.4
passlib==1.7.1
Pillow==9.0.0
Sphinx==1.8.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.0
sqlparse==0.3.0
urllib3==1.25.3
